<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>(Aqui ira el nombre una vez que podamos usar bases de datos)</title>
	<link rel="stylesheet" href="../styles/index.css">
	<link rel="stylesheet" href="../styles/dashboard.css">
</head>
<body>
	<h1 style="margin: 20px;">Placeholder de Nombre</h1>

	<section id="myActivities">
		<h2>Mis Actividades</h2>
		<ul id="activityList">
			<li>
				Nombre Actividad
				<br>
				Tipo: Tipo Actividad
				<br>
				Horarios:

				<ul>
					<li>Lunes 8:00 - 10:00</li>
					<li>Martes 9:30 - 12:45 </li>
				</ul>
			</li>
		</ul>
	</section>

	<section id="othersInfo">
		<h2>Otros Usuarios</h2>

		<h3>Filtros</h3>

		<div class="filtros">

			<label for="typeFilter">Tipo de Usuario</label>
			<select id="typeFilter">
				<option value="0">Seleccionar</option>
				<option value="1">Estudiante de Pregrado</option>
				<option value="2">Estudiante de Postgrado</option>
				<option value="3">Academico</option>
				<option value="4">Funcionario</option>
			</select>
			

			<label for="activityFilter"> Tipo de Actividad</label>
			<select id="activityFilter">
				<option value="0">Seleccionar</option>
				<option value="1">Artistica</option>
				<option value="2">Deportiva</option>
				<option value="3">Tecnológica</option>
				<option value="4">Social</option>
				<option value="5">Recreativa</option>
			</select>

			<input type="text" id="usernameFilter" placeholder="Buscar por nombre">
		</div>

		<ul id="userList">


		</ul>

	</section>
	<script src="../scripts/dashboard/getDashboardData.js"></script>
	<script src="../scripts/dashboard/handleSearch.js"></script>

</body>
</html>