{% extends "layout/template.html" %}

{% block title %}
	Miembros
{% endblock %}

{%block headinfo%}
	{{super()}}
	<link rel="stylesheet" href="/static/styles/dashboard.css">
{%endblock%}


{%block body%}

	<section id="othersInfo">
		<h1>Información de Miembros y Actividades</h1>


		<ul id="userList">
			{%for i in members%}
				<li onclick="displayUser({{i['id']}})" class = "user">{{i["nombre"]}}</li>
			{%endfor%}

		</ul>

		<nav>
			<ul class="pagination justify-content-center">
				<li class="page-item {%if page==1%}{{'disabled'}}{%endif%}" ><a class= "page-link" href="/members/{{page-1}}">Anterior</a></li>
				<li class="page-item {%if page==max_page%}{{'disabled'}}{%endif%}"><a class= "page-link"  href="/members/{{page+1}}">Siguiente</a></li>
			</ul>	
		</nav>



	</section>
	<script src="/static/scripts/fetchUsers.js"></script>
	<script src="/static/scripts/dashboard/handleSearch.js"></script>
{%endblock%}