{% extends "layout/template.html" %}

{% block title %}
	Menú
{% endblock %}

{%block headinfo%}
	{{super()}}
	<link rel="stylesheet" href="static/styles/menu.css">
{%endblock%}


{%block body%}
	<main class = "centered">
		<h1>Catastro de Actividades FCFM</h1>
		<ul>
			<li><a href="/register/member">Registrar Miembro</a></li>
			<li><a href="/register/activity">Registrar Actividades</a></li>
			<li><a href="/members">Ver miembros</a></li>
			<li><a href="/stats">Estadísticas</a></li>
		</ul>

		<h1>Últimos Miembros</h1>
		<ul id="userList">
			{%for i in members%}
				<li onclick="displayUser({{i['id']}})" class = "user">{{i["nombre"]}}</li>
			{%endfor%}

		</ul>
	</main>

	<script src="/static/scripts/dashboard/fetchUsers.js"></script>

{%endblock%}