

body > section {
	margin: 20px;
	border: solid black 1px;
	border-radius: 5px;
}

#othersInfo {
	max-height: 70%;
	overflow-y: scroll;
	padding: 15px;

}

#othersInfo > * {
	margin: 5px;
} 

#othersInfo .flex {
	justify-items: flex-start;
	margin: 10px;
}

#othersInfo a {
	color:blue;
}

#othersInfo img {
	aspect-ratio: 1/1;
	width: 150px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	border: solid black 2px;
	margin: 5px
}

#othersInfo .filtros{
	display: flex;
}

#othersInfo .filtros > *{
	display: flex;
	margin: 10px
}